.service{
    display: flex;
    justify-content: center;
    margin: 80px 150px 40px 150px;
    border-bottom: solid 1px #83A790;
    padding-bottom: 40px;
}
.service-1{
    font-size: 50px;
    width: 600px;
}
.service-2{
    font-weight: 600;
    margin-bottom: 15px;
    font-size: large;
}
.two-three{
    margin-top: 15px;
}